@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: "Nunito";
}

button {
    padding: 8px 20px;
    font-size: 15px;
    font-weight: 600;
    background-color: #A66F8D;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}

button:hover {
    box-shadow: 3px 3px 10px #270131;
}

.nunito {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: relative;
  }


ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: black;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #A66F8D;
}

.foto{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    text-align: center;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px; 
    }
}

h1 {
    color: #A66F8D;
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin: 2px;
}


nav a:hover {
    color: #A66F8D;
}

footer a:hover {
    color: #A66F8D;
}

.container {
padding: 0px 50px;
}

.container::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("./img/fundo.jpg");
    background-size: 100% 100%;
    background-position: center top;
    background-repeat: repeat;
    z-index: -1;
    opacity: 0.3;
  }

  h3 {
    color: #A66F8D;
  }
  h5 {
    line-height: 1.8em;
  }